:root {
  --primary-color: #4b73ff;
  --white-color: #fff;
  --main-bg-color: #484f58;
  --secondary-bg-color: dimgrey;
  --command-panel-bg-color: #222;
  --border-radius: 3px;
  --small-padding: 5px;
  --small-gap: 5px;
  --medium-padding: 8px;
  --col-number: 9;
  --scale-value: 5;
  --tileset-size: 160px;
  --tile-size: 16px;
}

html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-areas: "command-panel editor editor";
  grid-template-columns: 250px 1fr;
  image-rendering: pixelated;
}

button {
  border: none;
  padding: var(--small-padding);
  border-radius: var(--border-radius);
}

button.active,
button:not(.active):focus {
  background-color: var(--primary-color);
  color: white;
}

section {
  background-color: var(--secondary-bg-color);
  color: var(--white-color);
  padding: var(--small-padding);
}

section#action-buttons {
  display: flex;
  gap: 0.5rem;
}

section#action-buttons button {
  padding: var(--medium-padding);
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
}

#command-panel {
  grid-area: command-panel;
  background-color: var(--command-panel-bg-color);
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

#editor {
  grid-area: editor;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgroup {
  display: grid;
  gap: var(--small-gap);
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  padding: var(--small-padding);
  background-color: var(--main-bg-color);
}

.bgroup button {
  color: var(--white-color);
  width: 50px;
  height: 50px;
}

.bgroup button.tile {
  background: url("../assets/images/dungeon_tiles.png") right top no-repeat;
  background-size: calc(16px * 31.25);
}

.bgroup button.wall {
  background: url("../assets/images/dungeon_tiles.png") right top no-repeat;
  background-size: 32rem;
}

button.wall.top {
  background-position: -52px 0px;
}

button.wall.right {
  background-position: -230px -103px;
}

button.wall.tr {
  background-position: -229px 0;
}

button.wall.left {
  background-position: -28px -103px;
}

button.wall.tl {
  background-position: -30px 0;
}

button.wall.bl {
  background-position: -28px -177px;
}

button.wall.br {
  background-position: -229px -177px;
}

.grid {
  display: grid;
  border: 1px solid black;
  grid-gap: 1px;
  background-color: black;
  width: fit-content;
  grid-template-columns: repeat(
    var(--col-number),
    calc(var(--tile-size) * var(--scale-value))
  );
}

.grid.no-gap {
  grid-gap: 0;
}

.grid > div {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
}

.grid div {
  height: calc(var(--tile-size) * var(--scale-value));
  width: calc(var(--tile-size) * var(--scale-value));
}

.grid div.wall,
.grid div.item,
.grid div.floor {
  background: url(../assets/images/dungeon_tiles.png) no-repeat;
  background-size: calc(var(--tileset-size) * var(--scale-value));
}

.grid div > div {
  position: absolute;
}

.grid > div.collision.show::before {
  background: rgba(255, 0, 0, 0.2);
  content: "";
  width: 100%;
  height: 100%;
  z-index: 10;
}

.player {
  background:
    url("../assets/images/bojji.png") center center no-repeat,
    url("../assets/images/dungeon_tiles.png") right top no-repeat;
  background-size: 60px, 18rem, 70rem;
}

.hidden {
  display: none;
}

#layers-section {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#layers-section > div:first-child {
  overflow-y: auto;
  height: 140px;
}

.layers > div {
  display: flex;
  align-items: center;
  gap: var(--small-gap);
  margin: 1px;
  padding: var(--small-padding);
}

.layers > div > span {
  flex: 1;
}

/* ICONS */
.zoom-in {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  background: linear-gradient(to bottom, currentColor 5px, transparent 0)
    no-repeat 2px 5px/8px 2px;
  margin-top: -4px;
}

.zoom-in::after,
.zoom-in::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  height: 8px;
  background: currentColor;
}

.zoom-in::after {
  transform: rotate(-45deg);
  border-radius: 3px;
  top: 10px;
  left: 12px;
}

.zoom-in::before {
  top: 2px;
  left: 5px;
}

.zoom-out {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-top: -4px;
}

.zoom-out::after,
.zoom-out::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  background: currentColor;
}

.zoom-out::after {
  transform: rotate(-45deg);
  border-radius: 3px;
  width: 2px;
  height: 8px;
  top: 10px;
  left: 12px;
}

.zoom-out::before {
  width: 8px;
  height: 2px;
  top: 5px;
  left: 2px;
}

.display-grid {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  height: 14px;
  width: 14px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
}

.display-grid::after,
.display-grid::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 4px;
  border-right: 4px solid;
  border-left: 4px solid;
  top: 0;
  left: 0;
}

.display-grid::before {
  top: 6px;
}
