:root {
  --white-color: #fff;
  --main-bg-color: #484f58;
  --command-panel-bg-color: #222;
  --tile-size: 70px;
  --border-radius: 5px;
  --small-padding: 5px;
  --col-number: 9;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-areas: "command-panel editor editor";
  grid-template-columns: 250px 1fr;
  image-rendering: pixelated;
}

button {
  border: none;
  padding: var(--small-padding);
  border-radius: var(--border-radius);
}

button.active {
  background-color: var(--main-bg-color);
  color: white;
}

#command-panel {
  grid-area: command-panel;
  background-color: var(--command-panel-bg-color);
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

#editor {
  grid-area: editor;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgroup {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  padding: var(--small-padding);
  background-color: var(--main-bg-color);
  border-radius: var(--border-radius);
}

.bgroup button {
  color: var(--white-color);
  width: 50px;
  height: 50px;
}

.bgroup button.ground {
  background: url("../assets/images/dungeon_tiles.png") right top no-repeat;
  background-size: 32rem;
}

.bgroup button.wall {
  background: url("../assets/images/dungeon_tiles.png") right top no-repeat;
  background-size: 32rem;
}

button.wall.top {
  background-position: -52px 0px;
}

button.wall.right {
  background-position: -230px -103px;
}

button.wall.tr {
  background-position: -229px 0;
}

button.wall.left {
  background-position: -28px -103px;
}

button.wall.tl {
  background-position: -30px 0;
}

button.wall.bl {
  background-position: -28px -177px;
}

button.wall.br {
  background-position: -229px -177px;
}

.grid {
  display: grid;
  border: 1px solid black;
  grid-gap: 1px;
  background-color: black;
  width: fit-content;
  grid-template-columns: repeat(var(--col-number), var(--tile-size));
}

.grid.no-gap {
  grid-gap: 0;
}

.grid > div {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
}

.grid > div {
  height: var(--tile-size);
}

.grid > div.wall {
  background: url("../assets/images/forest_tiles.png") no-repeat -402px 0;
  background-size: 70rem;
  background: url(../assets/images/dungeon_tiles.png) no-repeat -70px top;
  background-size: 44rem;
}

.grid > div.wall.right {
  background-position: -313px -141px;
}

.grid > div.wall.left {
  background-position: -40px -141px;
}

.grid > div.wall.tl {
  background-position: -40px 0;
}

.grid > div.wall.bl {
  background-position: -40px -243px;
}

.grid > div.wall.tr {
  background-position: -313px 0;
}

.grid > div.wall.br {
  background-position: -313px -243px;
}

.grid > div.ground {
  background: url("../assets/images/forest_tiles.png") no-repeat;
  background: url("../assets/images/dungeon_tiles.png") right top no-repeat;
  background-size: 70rem;
  background-size: 18rem;
}

.grid > div.collision.show::before {
  background: rgba(255, 0, 0, 0.2);
  content: "";
  width: 100%;
  height: 100%;
}

.player {
  width: 100%;
  height: 100%;
  background:
    url("../assets/images/bojji.png") center center no-repeat,
    url("../assets/images/dungeon_tiles.png") right top no-repeat,
    url("../assets/images/forest_tiles.png") no-repeat;
  background-size: 60px, 18rem, 70rem;
}

.hidden {
  display: none;
}
